@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');  

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
}

.container {
    background-color: lightgray;
    border-radius: 10px;
    box-shadow: 8px 8px 5px #aaaaaa;
    padding: 30px;
    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch; 
}

.screen {
    background-color: lightblue;
    border: 1px solid gray;
    box-shadow: 3px 3px 10px gray inset;
    text-align: right;
}


.bottom-number {
    font-size: 30px;
    margin: 5px 10px 10px;
    min-height: 38px;
}

.button {
    background-color: #1111;
    box-shadow: 0 4px #999;
    border-radius: 5px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    color: #666;
    flex: 1;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;

    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.button:active {
    background-color: #777;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
  }

.middle {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex: 0.3;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    flex: 1;
}

.number-container {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    flex: 1;
}

.operator-container {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    flex: 0.3;
}

.number-row {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    flex: 1;
}

